files/baixados/NAKAJIMA2018.pdf
files/baixados/._Collaborative_Software_Engineering.pdf
files/baixados/._Experimental design research_ genealogy - intervention - argument.pdf
files/baixados/._Experiments all the way_Full paper_Nordes13_MAEandALB_FINAL.pdf
files/baixados/._Fischer2003_Article_DesertIslandSoftwareEngineerin.pdf
files/baixados/._Fischer2008_Article_RethinkingSoftwareDesignInPart.pdf
files/baixados/._Integrating_the_Rational_Unified_Process_and_parti.pdf
files/baixados/._Playful_Holistic_Support_to_HCI_Requirem.pdf
files/baixados/._Software Design and Architecture-dup.pdf
files/baixados/._Software_engineering_themes_for_the_future.pdf
files/baixados/._Teaching-Software-Eengineering.pdf
files/baixados/._Ways-of-drifting-cam_ready_sub.pdf
files/baixados/._active_learning_lego.pdf
files/baixados/._collaborative_design_apps.pdf
files/baixados/._collaborative_se.pdf
files/baixados/._metadesign_domain_experts.pdf
files/baixados/._participatory_design_softw.pdf
files/baixados/._physical_prototyping.pdf
files/baixados/._prototyping_design_experiments.pdf
files/baixados/._situated_Experiments.pdf
files/baixados/._software_inception_games.pdf
files/baixados/Cho2018.pdf
files/baixados/Collaborative_Software_Engineering.pdf
files/baixados/Experimental design research_ genealogy - intervention - argument.pdf
files/baixados/Experiments all the way_Full paper_Nordes13_MAEandALB_FINAL.pdf
files/baixados/Fischer2003_Article_DesertIslandSoftwareEngineerin.pdf
files/baixados/Fischer2008_Article_RethinkingSoftwareDesignInPart.pdf
files/baixados/Integrating_the_Rational_Unified_Process_and_parti.pdf
files/baixados/Kayabay2018.pdf
files/baixados/Lee2018.pdf
files/baixados/Playful_Holistic_Support_to_HCI_Requirem.pdf
files/baixados/Software Design and Architecture-dup.pdf
files/baixados/Software_engineering_themes_for_the_future.pdf
files/baixados/Teaching-Software-Eengineering.pdf
files/baixados/Ways-of-drifting-cam_ready_sub.pdf
files/baixados/Wesp2018.pdf
files/baixados/_template
files/baixados/active_learning_lego.pdf
files/baixados/collaborative_design_apps.pdf
files/baixados/collaborative_se.pdf
files/baixados/metadesign_domain_experts.pdf
files/baixados/participatory_design_softw.pdf
files/baixados/physical_prototyping.pdf
files/baixados/prototyping_design_experiments.pdf
files/baixados/situated_Experiments.pdf
files/baixados/software_inception_games.pdf
files/convertidos/.DS_Store
files/convertidos/._.DS_Store
files/convertidos/Collaborative_Software_Engineering.rtf
files/convertidos/Experimental design research_ genealogy - intervention - argument.rtf
files/convertidos/Experiments all the way_Full paper_Nordes13_MAEandALB_FINAL.rtf
files/convertidos/Fischer2003_Article_DesertIslandSoftwareEngineerin.rtf
files/convertidos/Fischer2008_Article_RethinkingSoftwareDesignInPart.rtf
files/convertidos/Integrating_the_Rational_Unified_Process_and_parti.rtf
files/convertidos/Playful_Holistic_Support_to_HCI_Requirem.rtf
files/convertidos/Software Design and Architecture-dup.rtf
files/convertidos/Software_engineering_themes_for_the_future.rtf
files/convertidos/Teaching-Software-Eengineering.rtf
files/convertidos/Ways-of-drifting-cam_ready_sub.rtf
files/convertidos/_template
files/convertidos/active_learning_lego.rtf
files/convertidos/collaborative_design_apps.rtf
files/convertidos/collaborative_se.rtf
files/convertidos/metadesign_domain_experts.rtf
files/convertidos/participatory_design_softw.rtf
files/convertidos/physical_prototyping.rtf
files/convertidos/prototyping_design_experiments.rtf
files/convertidos/situated_Experiments.rtf
files/convertidos/software_inception_games.rtf
files/baixados/Kayabay2018.pdf
files/baixados/Cho2018.pdf
files/baixados/Lee2018.pdf
files/baixados/NAKAJIMA2018.pdf
files/baixados/Wesp2018.pdf
files/baixados/_template
files/convertidos/_template
files/
files/import
files/export
logs/
logs/translate.log
logs/rodibot.log
files_IHC/traduzidos/Fischer2008_Article_RethinkingSoftwareDesignInPart.csv
files_IHC/baixados/Collaborative_Software_Engineering.pdf
files_IHC/baixados/Experimental design research_ genealogy - intervention - argument.pdf
files_IHC/baixados/Experiments.pdf
files_IHC/baixados/Fischer2003_Article_DesertIslandSoftwareEngineerin.pdf
files_IHC/baixados/Fischer2008_Article_RethinkingSoftwareDesignInPart.pdf
files_IHC/baixados/Integrating_the_Rational_Unified_Process_and_parti.pdf
files_IHC/baixados/Playful_Holistic_Support_to_HCI_Requirem.pdf
files_IHC/baixados/Software Design and Architecture-dup.pdf
files_IHC/baixados/Software_engineering_themes_for_the_future.pdf
files_IHC/baixados/Teaching-Software-Eengineering.pdf
files_IHC/baixados/Ways-of-drifting-cam_ready_sub.pdf
files_IHC/baixados/_template
files_IHC/baixados/active_learning_lego.pdf
files_IHC/baixados/collaborative_design_apps.pdf
files_IHC/baixados/collaborative_se.pdf
files_IHC/baixados/metadesign_domain_experts.pdf
files_IHC/baixados/participatory_design_softw.pdf
files_IHC/baixados/physical_prototyping.pdf
files_IHC/baixados/prototyping_design_experiments.pdf
files_IHC/baixados/situated_Experiments.pdf
files_IHC/baixados/software_inception_games.pdf
files_IHC/convertidos/.DS_Store
files_IHC/convertidos/Collaborative_Software_Engineering.rtf
files_IHC/convertidos/Collaborative_Software_Engineering.txt
files_IHC/convertidos/Experimental design research_ genealogy - intervention - argument.rtf
files_IHC/convertidos/Experimental design research_ genealogy - intervention - argument.txt
files_IHC/convertidos/Experiments.rtf
files_IHC/convertidos/Experiments.txt
files_IHC/convertidos/Fischer2003_Article_DesertIslandSoftwareEngineerin.rtf
files_IHC/convertidos/Fischer2003_Article_DesertIslandSoftwareEngineerin.txt
files_IHC/convertidos/Fischer2008_Article_RethinkingSoftwareDesignInPart.rtf
files_IHC/convertidos/Fischer2008_Article_RethinkingSoftwareDesignInPart.txt
files_IHC/convertidos/Integrating_the_Rational_Unified_Process_and_parti.rtf
files_IHC/convertidos/Integrating_the_Rational_Unified_Process_and_parti.txt
files_IHC/convertidos/Playful_Holistic_Support_to_HCI_Requirem.rtf
files_IHC/convertidos/Playful_Holistic_Support_to_HCI_Requirem.txt
files_IHC/convertidos/Software Design and Architecture-dup.rtf
files_IHC/convertidos/Software Design and Architecture-dup.txt
files_IHC/convertidos/Software_engineering_themes_for_the_future.rtf
files_IHC/convertidos/Software_engineering_themes_for_the_future.txt
files_IHC/convertidos/Teaching-Software-Eengineering.rtf
files_IHC/convertidos/Teaching-Software-Eengineering.txt
files_IHC/convertidos/Ways-of-drifting-cam_ready_sub.rtf
files_IHC/convertidos/Ways-of-drifting-cam_ready_sub.txt
files_IHC/convertidos/_template
files_IHC/convertidos/active_learning_lego.rtf
files_IHC/convertidos/active_learning_lego.txt
files_IHC/convertidos/collaborative_design_apps.rtf
files_IHC/convertidos/collaborative_design_apps.txt
files_IHC/convertidos/collaborative_se.rtf
files_IHC/convertidos/collaborative_se.txt
files_IHC/convertidos/metadesign_domain_experts.rtf
files_IHC/convertidos/metadesign_domain_experts.txt
files_IHC/convertidos/participatory_design_softw.rtf
files_IHC/convertidos/participatory_design_softw.txt
files_IHC/convertidos/physical_prototyping.rtf
files_IHC/convertidos/physical_prototyping.txt
files_IHC/convertidos/prototyping_design_experiments.rtf
files_IHC/convertidos/prototyping_design_experiments.txt
files_IHC/convertidos/situated_Experiments.rtf
files_IHC/convertidos/situated_Experiments.txt
files_IHC/convertidos/software_inception_games.rtf
files_IHC/convertidos/software_inception_games.txt
files_IHC/pendentes/.DS_Store
files_IHC/pendentes/_template
files_IHC/processados/.DS_Store
files_IHC/processados/Collaborative_Software_Engineering.html
files_IHC/processados/Experimental design research_ genealogy - intervention - argument.html
files_IHC/processados/Experiments.html
files_IHC/processados/Fischer2003_Article_DesertIslandSoftwareEngineerin.html
files_IHC/processados/Fischer2008_Article_RethinkingSoftwareDesignInPart.html
files_IHC/processados/Integrating_the_Rational_Unified_Process_and_parti.html
files_IHC/processados/Playful_Holistic_Support_to_HCI_Requirem.html
files_IHC/processados/Software Design and Architecture-dup.html
files_IHC/processados/Software_engineering_themes_for_the_future.html
files_IHC/processados/Teaching-Software-Eengineering.html
files_IHC/processados/Ways-of-drifting-cam_ready_sub.html
files_IHC/processados/_template
files_IHC/processados/active_learning_lego.html
files_IHC/processados/collaborative_design_apps.html
files_IHC/processados/collaborative_se.html
files_IHC/processados/index.html
files_IHC/processados/metadesign_domain_experts.html
files_IHC/processados/participatory_design_softw.html
files_IHC/processados/physical_prototyping.html
files_IHC/processados/prototyping_design_experiments.html
files_IHC/processados/situated_Experiments.html
files_IHC/processados/software_inception_games.html
files_IHC/traduzidos/.DS_Store
files_IHC/traduzidos/Collaborative_Software_Engineering.csv
files_IHC/traduzidos/Experimental design research_ genealogy - intervention - argument.csv
files_IHC/traduzidos/Experiments.csv
files_IHC/traduzidos/Fischer2003_Article_DesertIslandSoftwareEngineerin.csv
files_IHC/traduzidos/Integrating_the_Rational_Unified_Process_and_parti.csv
files_IHC/traduzidos/Playful_Holistic_Support_to_HCI_Requirem.csv
files_IHC/traduzidos/Software Design and Architecture-dup.csv
files_IHC/traduzidos/Software_engineering_themes_for_the_future.csv
files_IHC/traduzidos/Teaching-Software-Eengineering.csv
files_IHC/traduzidos/Ways-of-drifting-cam_ready_sub.csv
files_IHC/traduzidos/_template
files_IHC/traduzidos/active_learning_lego.csv
files_IHC/traduzidos/collaborative_design_apps.csv
files_IHC/traduzidos/collaborative_se.csv
files_IHC/traduzidos/metadesign_domain_experts.csv
files_IHC/traduzidos/participatory_design_softw.csv
files_IHC/traduzidos/physical_prototyping.csv
files_IHC/traduzidos/prototyping_design_experiments.csv
files_IHC/traduzidos/situated_Experiments.csv
files_IHC/traduzidos/software_inception_games.csv
files/.DS_Store
files/pendentes/.DS_Store
files/processados/.DS_Store
files_IHC/.DS_Store
files_IHC/baixados/.DS_Store
files/.DS_Store
