files/baixados/NAKAJIMA2018.pdf
files/baixados/._Collaborative_Software_Engineering.pdf
files/baixados/._Experimental design research_ genealogy - intervention - argument.pdf
files/baixados/._Experiments all the way_Full paper_Nordes13_MAEandALB_FINAL.pdf
files/baixados/._Fischer2003_Article_DesertIslandSoftwareEngineerin.pdf
files/baixados/._Fischer2008_Article_RethinkingSoftwareDesignInPart.pdf
files/baixados/._Integrating_the_Rational_Unified_Process_and_parti.pdf
files/baixados/._Playful_Holistic_Support_to_HCI_Requirem.pdf
files/baixados/._Software Design and Architecture-dup.pdf
files/baixados/._Software_engineering_themes_for_the_future.pdf
files/baixados/._Teaching-Software-Eengineering.pdf
files/baixados/._Ways-of-drifting-cam_ready_sub.pdf
files/baixados/._active_learning_lego.pdf
files/baixados/._collaborative_design_apps.pdf
files/baixados/._collaborative_se.pdf
files/baixados/._metadesign_domain_experts.pdf
files/baixados/._participatory_design_softw.pdf
files/baixados/._physical_prototyping.pdf
files/baixados/._prototyping_design_experiments.pdf
files/baixados/._situated_Experiments.pdf
files/baixados/._software_inception_games.pdf
files/baixados/Cho2018.pdf
files/baixados/Collaborative_Software_Engineering.pdf
files/baixados/Experimental design research_ genealogy - intervention - argument.pdf
files/baixados/Experiments all the way_Full paper_Nordes13_MAEandALB_FINAL.pdf
files/baixados/Fischer2003_Article_DesertIslandSoftwareEngineerin.pdf
files/baixados/Fischer2008_Article_RethinkingSoftwareDesignInPart.pdf
files/baixados/Integrating_the_Rational_Unified_Process_and_parti.pdf
files/baixados/Kayabay2018.pdf
files/baixados/Lee2018.pdf
files/baixados/Playful_Holistic_Support_to_HCI_Requirem.pdf
files/baixados/Software Design and Architecture-dup.pdf
files/baixados/Software_engineering_themes_for_the_future.pdf
files/baixados/Teaching-Software-Eengineering.pdf
files/baixados/Ways-of-drifting-cam_ready_sub.pdf
files/baixados/Wesp2018.pdf
files/baixados/_template
files/baixados/active_learning_lego.pdf
files/baixados/collaborative_design_apps.pdf
files/baixados/collaborative_se.pdf
files/baixados/metadesign_domain_experts.pdf
files/baixados/participatory_design_softw.pdf
files/baixados/physical_prototyping.pdf
files/baixados/prototyping_design_experiments.pdf
files/baixados/situated_Experiments.pdf
files/baixados/software_inception_games.pdf
files/convertidos/.DS_Store
files/convertidos/._.DS_Store
files/convertidos/Collaborative_Software_Engineering.rtf
files/convertidos/Experimental design research_ genealogy - intervention - argument.rtf
files/convertidos/Experiments all the way_Full paper_Nordes13_MAEandALB_FINAL.rtf
files/convertidos/Fischer2003_Article_DesertIslandSoftwareEngineerin.rtf
files/convertidos/Fischer2008_Article_RethinkingSoftwareDesignInPart.rtf
files/convertidos/Integrating_the_Rational_Unified_Process_and_parti.rtf
files/convertidos/Playful_Holistic_Support_to_HCI_Requirem.rtf
files/convertidos/Software Design and Architecture-dup.rtf
files/convertidos/Software_engineering_themes_for_the_future.rtf
files/convertidos/Teaching-Software-Eengineering.rtf
files/convertidos/Ways-of-drifting-cam_ready_sub.rtf
files/convertidos/_template
files/convertidos/active_learning_lego.rtf
files/convertidos/collaborative_design_apps.rtf
files/convertidos/collaborative_se.rtf
files/convertidos/metadesign_domain_experts.rtf
files/convertidos/participatory_design_softw.rtf
files/convertidos/physical_prototyping.rtf
files/convertidos/prototyping_design_experiments.rtf
files/convertidos/situated_Experiments.rtf
files/convertidos/software_inception_games.rtf
files/baixados/Kayabay2018.pdf
files/baixados/Cho2018.pdf
files/baixados/Lee2018.pdf
files/baixados/NAKAJIMA2018.pdf
files/baixados/Wesp2018.pdf
files/baixados/_template
files/convertidos/_template
files/
logs/