<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">       
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
  </head>

    <nav id="barTitulo" class="navbar navbar-inverse" style="background-color:#F58634; border-color:#F58634" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-12">
          <!-- cabecalho home -->
            <h5 style="color:white; margin-left:5px; margin-left:1px"> 
              <span class="pull-left" style="margin-top:-5px">
                <a id="btn-voltar" style="color:white; background:#F58634; border-color:#F58634", type="link" class="btn btn-link btn-md"  href="#"> <i class="material-icons">android</i>    </a>                                                
                <b style=" margin-center:-20px">Busca Implacável</b> </span>
            <h5>           
          </div>
        </div>
      </div>
    </nav>

    <!-- corpo -->
    <body style="background-color:white">
    </body>
</html>


