<!DOCTYPE html>
<html lang="pt">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">       
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
  </head>
    <nav id="barTitulo" class="navbar navbar-inverse" style="background-color:#F58634; border-color:#F58634" role="navigation">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" style="border-color:white; background-color:#F58634">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <span class="badge badge-pill badge-light pull-right" style="color:white; background-color:#F58634; margin-top:5px; margin-right:-10px">                            
          </span>  

        <div class="navbar-collapse collapse" >
          <ul class="nav navbar-nav">
          </ul>
        </div>
      </div>      
    </nav>


    <!-- corpo -->
    <body style="background-color:white">
          {% for pes in pesquisa %}
           <h1>{{pes.descricao}}</h1>
          {% endfor %}

        <div id="paneMenu" class="container" >
            <div class="row">

                <div class="col-12" style="margin-top:-15px; text-align:center">
                    <img src="{{ url_for('static', filename='img/logo.jpg') }}" width=200  ></img>
                </div>

            </div> 
        </div> 

    </body>
</html>


