<!DOCTYPE html>
<html lang="pt">

{% include 'reuse/base.html' %}
<body id="page-top">
    <div id="wrapper">
        {% include 'reuse/sideBar.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
            {% include 'reuse/headBar.html' %}

            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 id="processo_id" class="h3 mb-0 text-gray-800">Processo [{{processo.id}} - {{processo.situacao}}]</h1>                                    
                </div>

                <div class="col-12">
                    <h5 class="m-0 font-weight-bold text-primary">{{processo.descricao}}</h5>
                    <h6 class="m-0 font-weight-normal text-primary" style="padding-bottom:10px">{{processo.objetivo}}</h6>
                    <hr>
                    
                </div>

                {% if processo.situacao =='Pendente' %}
                    <div class="col-12" >
                        <h4>Arquivo referências</h4>
                    </div>

                    <div class="col-12" style="padding-bottom:10px">
                        <input id="name-file" type="file" class="custom-file-input" accept="TEXT/*">
                        <label for="lbl-filelogo" class="custom-file-label text-truncate">Selecione o arquivo...</label>                    
                    </div>

                    <div class="col-12" style="text-align:center">
                        <button href="#" id="btn-adicionar-arquivo" type="button" class="btn btn-primary" value='{"id":"{{processo.id}}"}'><i class="icon-hand-right"></i> Adicionar Arquivo </button>                            
                        <hr>                    
                    </div>                
                {% endif %}

                <!-- Cards Arquivos -->
                {% for file in processo.files %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 style="text-align: start; " class="m-0 font-weight-bold text-primary">{{file.name_file}}</h6>                                                                                                        
                            <h6 style="text-align: end" class="m-0 font-weight-normal text-primary">{{file.criado_em}}</h6>                             
                        </div>

                        <div class="card-body">       
                            <h6 style="text-align: start; padding-bottom:15px" class="m-0 font-weight-normal text-primary">Referências</h6> 

                            <div class="table-responsive">
                                <table class="table table-default" id="dataTableRef" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th style="text-align:center">Linha</th>
                                    <th style="text-align:center">Situação</th>
                                    <th>Referência</th>
                                    <th style="text-align:center"> **</th>                      
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                    <th style="text-align:center">Linha</th>
                                    <th style="text-align:center">Situação</th>
                                    <th>Referência</th>
                                    <th style="text-align:center"> **</th>                      
                                    </tr>
                                </tfoot>
                                <tbody>
                                        {% for referencia in file.referencias %}
                                        <tr>
                                            <td style="text-align:center">{{referencia.linha}}</td>
                                            <td style="text-align:center">{{referencia.situacao}}</td>
                                            <td>{{referencia.referencia}}</td>
                                            <td style="text-align:center">
                                                <a id="btn-processo-detail"  type="link" class="btn btn-link"  href="{{ url_for('views.carregarProcesso', id=processo.id)}}"> 
                                                    <i class="fas fa-eye"></i>
                                                </a>

                                                <a id="btn-processo-remove" class="btn btn-link" type="link" value="{{processo.id}}">
                                                    <i class="far fa-trash-alt" style="color:red"></i>
                                                </a>                           
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>

                        </div>                    
                    </div>                    
                {% endfor %}
                
            </div>
        
        </div>
        {% include 'reuse/footer.html' %}

    </div>
</body>
</html>
