<!DOCTYPE html>
<html lang="pt">

{% include 'reuse/base.html' %}
<body id="page-top">
    <div id="wrapper">
        {% include 'reuse/sideBar.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                {% include 'reuse/headBar.html' %}

                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-1 font-weight-bold text-primary">Registrar Processo</h6>
                        </div>

                        <div class="card-body">

                            {% block content_registro %}
                                <div class="alert alert-warning" id="registro-alerta" style="display:none; text-align:center">{{ page.msg }}</div>        
                            {% endblock %}

                            <div class="col-12">
                                <input type="text" maxlength="100" style="margin-bottom: 15px" class="form-control form-control-lg" name="descricao" id="descricao" placeholder="Descrição *" required>
                            </div>

                            <div class="col-12">
                                <input type="text" maxlength="250" style="margin-bottom: 15px" class="form-control form-control-lg" name="objetivo" id="objetivo" placeholder="Objetivo *" required>
                            </div>

                            <!-- comandos --> 
                            <div class="form-group" style="text-align:center; padding-right:15px; margin-bottom:-1px">                                       
                                <div class="col-12">
                                    <button href="#" name="btn-enviar-processo" id="btn-processo-enviar" type="button" class="btn btn-primary" ><i class="icon-hand-right"></i> Enviar Processo </button>                            
                                </div>
                            </div>    

                        </div>  
                    </div>                                        
                </div>
            </div>      
            {% include 'reuse/footer.html' %}         
            
        </div>        
    </div>
         
</body>
</html>
