<!DOCTYPE html>
<html lang="pt">

{% include 'reuse/base.html' %}
<body id="page-top">
    <div id="wrapper">
        {% include 'reuse/sideBar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include 'reuse/headBar.html' %}

                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-1">
                        <h4><a href="{{ url_for('views.carregarReferencia', id=None)}}"><i class="fas fa-chevron-left fa-md"></i> Voltar</a></h4>
                    </div>

                    <div class="row" style="padding-bottom:20px">
                        <!-- Processos e pendentes -->
                        <div class="col-xl-12">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">

                                    <div class="col-12" style="padding-bottom:10px">
                                        <input id="name-file-bibtext" type="file" class="custom-file-input" accept="TEXT/bib">
                                        <label for="lbl-filelogo" class="custom-file-label text-truncate">Selecione o arquivo BibText...</label>                    
                                    </div>

                                    <div class="col-12" style="text-align:center">
                                        <button href="#" id="btn-bibtext-carregar" class="btn btn-primary" value=''> 
                                            <i class="fas fa-upload"></i> Carregar
                                        </button>
                                    </div>                

                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            
            </div>
            {% include 'reuse/footer.html' %}
        </div>
    </div>
</body>
</html>
