<!DOCTYPE html>
<html lang="pt">

{% include 'reuse/base.html' %}
<body id="page-top">
    <div id="wrapper">
        {% include 'reuse/sideBar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include 'reuse/headBar.html' %}

                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-1">
                        <h4><a href="{{ url_for('views.carregarReferencia', id=None)}}"><i class="fas fa-chevron-left fa-md"></i> Voltar</a></h4>
                    </div>

                    <div class="row" style="padding-bottom:20px">
                        <!-- Carregar arquivo -->
                        <div class="col-xl-12">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">

                                    <div class="col-12" style="padding-bottom:10px">
                                        <input id="name-file-bibtext" type="file" class="custom-file-input" accept="TEXT/bib">
                                        <label for="lbl-filelogo" class="custom-file-label text-truncate">Selecione o arquivo BibText...</label>                    
                                    </div>

                                    <div class="col-12" style="text-align:center">
                                        <button href="#" id="btn-bibtext-carregar" class="btn btn-primary" value=''> 
                                            <i class="fas fa-upload"></i> Carregar
                                        </button>
                                    </div>                

                                </div>
                            </div>
                        </div>                        
                    </div>
                    {% if referencias|length >0 %}
                        <!-- Tabela BibTexts -->
                        <div class="card shadow mb-4" id ="card-relacao-bibtext">
                            <div class="card-header ">
                                <div class="d-sm-flex align-items-center justify-content-between mb-1">
                                    <h6 class="m-0 font-weight-bold text-primary">Registros Localizados</h6>
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        <button class="btn btn-link" id="btn-referencia-importar">[importar]</button>
                                    </h6>
                                </div>
                            </div>
                            
                            <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="dataTableProcessos" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th style="text-align:center">Situação</th>
                                    <th>Ano</th>
                                    <th style="text-align:center">Titulo</th>
                                    <th style="text-align:left">Autor(es)</th>                      
                                    <th style="text-align:center"> **</th>                      
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                    <th style="text-align:center">Situação</th>
                                    <th>Ano</th>
                                    <th style="text-align:center">Titulo</th>
                                    <th style="text-align:left">Autor(es)</th>                                            
                                    <th style="text-align:center">**</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for referencia in referencias %}
                                        <tr>
                                            <td style="text-align:center">{{referencia.situacao}}</td>
                                            <td>{{referencia.ano}}</td>
                                            <td style="text-align:left">{{referencia.titulo}}</td>
                                            <td style="text-align:left">{{referencia.autores}}</td>                                                        
                                            <td style="text-align:center">
                                                <button class="btn-referencia-detail btn btn-link" type="link"  value='{"id":"{{referencia.id}}", 
                                                                                                                        "titulo":"{{referencia.titulo}}", 
                                                                                                                        "resumo":"{{referencia.resumo}}", 
                                                                                                                        "autores":"{{referencia.autores}}"}' > 
                                                    <i class="far fa-file-alt"></i>
                                                </button>

                                                <button class="btn-referencia-remover btn btn-link" type="link" value='{"id":"{{referencia.id}}"}'>
                                                    <i class="far fa-trash-alt" style="color:red"></i>
                                                </button>                           
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    {% else %}
                        <h3 style="text-align:center">Não foram localizadas referências pendentes</h3>      
                    {% endif %}    

                </div>
            
            </div>
            {% include 'reuse/footer.html' %}
        </div>
    </div>
</body>
</html>
