<!DOCTYPE html>
<html lang="pt">

{% include 'reuse/base.html' %}

<body id="page-top">

    <div id="wrapper">
    {% include 'reuse/sideBar.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                {% include 'reuse/searchBar.html' %}

                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Referências</h1>
                        <a href="{{ url_for('views.importarBibText')}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="btn-referencias-importar">
                            <i class="fas fa-upload fa-md text-white-300"></i> <br>Importar BibText
                        </a>
                    </div>


                        {% if referencias|length ==0 %}
                            <hr>                                                             
                            <h3 style="text-align:center">Nenhuma referência localizada</h3>      
                        {% else %}     
                            <div class="row" >                        
                                {% for referencia in referencias %}
                                    <!-- Area Card Referencia -->
                                    <div class="col-lg-12 col-lg-12">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">{{referencia.ano}} [File{{referencia.id}}]</h6>
                                                <div class="dropdown no-arrow">
                                                    <a class="button" href="#">[Detalhes]</a> 
                                                    <button class="btn-referencia-aprovar btn btn-link" type="link" value='{"id":"{{referencia.id}}"}'>[Aprovar]</button>
                                                    <button class="btn-referencia-reprovar btn btn-link" type="link" value='{"id":"{{referencia.id}}"}'>[Reprovar]</button>

                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                    <div class="dropdown-header">Opções Referência:</div>
                                                    <a class="dropdown-item" href="#">Download PDF</a>
                                                    <a class="dropdown-item" href="#">Exportar BibText</a>
                                                    <div class="dropdown-divider"></div>
                                                    <button class="btn-referencia-remover dropdown-item" type="link" value='{"id":"{{referencia.id}}"}'>
                                                        <i class="far fa-trash-alt" style="color:red"></i> Excluir
                                                    </button>                           

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <div class="referencia-area">
                                                    <h4 align="justify" style="color:black"><b>{{referencia.titulo}}</b></h4>
                                                    <p align="justify">Autor(es): {{referencia.autores}}<p/>
                                                    <p align="justify">Resumo: <br> {{referencia.resumo}}<p/>
                                                    <p align="justify">KeyWords: <br> {{referencia.keywords}}<p/>
                                                    <hr>                                
                                                    <p style="color:orange">Smart-Tags:</p>
                                                </div>
                                            </div>
                                        </div>                                                            
                                    </div>
                                {% endfor %}                         
                            </div>
                        {% endif %}                               

                </div>

            </div>
            {% include 'reuse/footer.html' %}
        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>    
</body>
</html>    
