beautifulsoup4
webdriver_manager
requests
retrying
pysocks
retry
pillow
Image
ImageTK
selenium
urllib3
# phantomjs (nmp ou download)
pdfminer3k
googletrans
bibtexparser
sqlalchemy
pySimpleGui

# sudo apt-get install python3-pil.imagetk.